.root
{
 -fx-background-image : url("cool-background.png");
}
.button{
 -fx-font-family : "Comic Sans MS";
 -fx-font-weight: bold;
 -fx-font-size: 16px;
 -fx-text-fill : white;
 -fx-background-color : linear-gradient(#968f0c, #885b14);
 -fx-effect : dropshadow(three-pass-box, rgba(146, 10, 10, 0.6), 5 , 0.0 , 0 , 1);
 -fx-skin: "utils.MyButtonSkin";

}
.label {
    -fx-font-family : "Comic Sans MS";
    -fx-font-weight : bold;
    -fx-font-size: 16px;
    -fx-text-fill: #510505;
    -fx-effect: dropshadow(gaussian, rgb(7, 105, 27), 0,0,0,1);
}

.tab{
    -fx-background-image: url("cool-background.png");
}
.list-view{
    -fx-background-color : linear-gradient(#968f0c, #885b14);
    -fx-text-fill : #b85f00;
    -fx-font-family : "Comic Sans MS";
    -fx-font-weight : bold italic;
}

.table-view{
    -fx-background-color : linear-gradient(#968f0c, #885b14);
    -fx-text-fill : white;
    -fx-font-family : "Comic Sans MS";
    -fx-font-weight : bold italic;
}

.cell{
    -fx-background-image: url("cool-background.png");
    -fx-text-fill: #510505;
    -fx-font-family : "Comic Sans MS";
    -fx-font-weight : bold ;
    -fx-font-size: 14px;
}
.cell:hover{
    -fx-text-fill: #0773ab;
    -fx-font-weight: bold;
}
.cell:cell-selection{
    -fx-border-color: black;
    -fx-border-width: 16px solid;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.toggle-button{
    -fx-font-family : "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill : white;
    -fx-background-color : linear-gradient(#968f0c, #885b14);
}
.toggle-button:hover{
    -fx-background-color : linear-gradient(#69750c, #a37f14);
    -fx-text-fill: black;
}

.default-color0.chart-pie { -fx-pie-color: #0025ab; }
.default-color1.chart-pie { -fx-pie-color: #c40f0f; }
.default-color2.chart-pie { -fx-pie-color: #134f05; }
.default-color3.chart-pie { -fx-pie-color: #fc039c; }
.default-color4.chart-pie { -fx-pie-color: #070303; }

.hyperlink{
    -fx-font-family : "Comic Sans MS";
    -fx-font-weight : bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgb(7, 105, 27), 0,0,0,1);
}



